{% import '_macros/html.html.twig' as htmlhelpers %}
<div class="btn-group btn-group-sm" role="group">
    {% for identifier, button in buttons %}
    {% set attr = button.attr|merge({'class': (button.attr.class|default('')~' btn btn-'~button.type)|trim}) %}
    <{{ button.element }} {{ htmlhelpers.attributes(attr) }}>
    {{ button.label|raw }}
</{{ button.element }}>
{% endfor %}
</div>
