{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block contents %}
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_widget(form.submit) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}

        <div class="checkbox mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('user_logout') }}">Logout</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
