{% extends 'base.html.twig' %}

{% block title %}{% if not bill.id %}Create Bill{% else %}Edit Bill - {{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }}){% endif %}{% endblock %}

{% block body %}
    {% use 'bill/common.html.twig' %}
    <h1>
        {% if not bill.id %}
            Create Bill
        {% else %}
            Edit Bill <small class="text-muted">{{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }})</small>
        {% endif %}
    </h1>
    <hr>

    {% form_theme form _self %}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bill_edit') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bill_edit') }}
{% endblock %}

{% block _bill_form_lines_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}
    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' table table-sm pyb-bill-edit-lines')|trim}) %}
    {{ form_errors(form) }}
    <table {{ block('widget_attributes') }}>
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in form %}
            {{ form_widget(entry) }}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block _bill_form_lines_entry_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' pyb-bill-edit-line collection-item')|trim}) %}
    <tr {{ block('widget_attributes') }}>
        <td>
            <div class="d-flex flex-column pyb-bill-edit-summary">
                <div class="pyb-bill-edit-name">{{ form_widget(form.name) }}</div>
                {#                <div class="pyb-bill-edit-description mt-2">{{ form_widget(form.description) }}</div>#}
                <div class="pyb-bill-edit-tax mt-2">{{ form_widget(form.taxRate) }}</div>
            </div>
        </td>
        <td>
            <div class="d-flex flex-column">
                <div class="pyb-bill-edit-amount">{{ form_widget(form.amount) }}</div>
                <div class="pyb-bill-edit-split mt-2">{{ form_widget(form.split) }}</div>
                {{ form_rest(form) }}
            </div>
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-success collection-add">
                    <i class="fas fa-plus-circle"></i><span class="sr-only">Add line</span>
                </button>
                <button type="button" class="btn btn-danger collection-remove">
                    <i class="fas fa-minus-circle"></i><span class="sr-only">Remove line</span>
                </button>
                <button type="button" class="btn btn-secondary collection-up">
                    <i class="fas fa-caret-up"></i><span class="sr-only">Move line up</span>
                </button>
                <button type="button" class="btn btn-secondary collection-down">
                    <i class="fas fa-caret-down"></i><span class="sr-only">Move line down</span>
                </button>
            </div>
        </td>
    </tr>
{% endblock %}

{% block _bill_form_lines_entry_taxRate_widget %}
    <div class="form-group form-inline">
        {{ block('form_label') }}
        <div class="ml-2">{{ form_widget(form) }}</div>
    </div>
{% endblock %}

{% block _bill_form_lines_entry_split_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' custom-control-input')|trim}) %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' custom-control-label'|trim)}) %}
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input"
                {{ block('widget_attributes') }} {% if checked %} checked{% endif %}>
        {{ block('form_label') }}
    </div>
{% endblock %}
