{% extends 'base.html.twig' %}

{% block title %}Bills{% endblock %}

{% block body %}
    {% import '_macros/datatable.html.twig' as datatable %}
    {% use 'bill/common.html.twig' %}
    <h1>Bills</h1>
    <hr>

    <div class="btn-group mb-3">
        <a href="{{ path('bill_edit') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> New Bill</a>
        <a href="{{ path('bill_upload') }}" class="btn btn-secondary"><i class="fas fa-file-pdf"></i> Upload PDF</a>
    </div>
    {{ datatable.datatable(table, 'pyb-bill-index-table') }}
    {{ block('modal_delete') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bill_index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bill_index') }}
{% endblock %}
