{% extends '@GremoZurbInk/foundation-emails/base.html.twig' %}

{% block content %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }
    </style>
    <!-- move the above styles into your custom stylesheet -->

    <spacer size="16"></spacer>

    <container>

        <spacer size="16"></spacer>

        <row>
            <columns>
                <h1>Someone else wants money.</h1>
                <p>
                    {{ bill.vendor.name }} wants our money. See <a
                            href="{{ url('bill_view', {'billSlug': bill.slug}) }}">
                        here</a> for more details.
                </p>

                <spacer size="16"></spacer>

                <callout class="secondary">
                    <row>
                        <columns large="6">
                            <p>
                                <strong>Date</strong><br/>
                                {{ bill.date.toFormattedDateString }}
                                ({{ bill.date.longRelativeToNowDiffForHumans }})
                            </p>
                            <p>
                                <strong>Due</strong><br/>
                                {{ bill.date.toFormattedDateString }}
                                ({{ bill.dateDue.longRelativeToNowDiffForHumans }})
                            </p>
                            <p>
                                <strong>Total</strong><br/>
                                {{ bill.totalAmount|money_format }}
                            </p>
                        </columns>
                        <columns large="6">
                            <p>
                                <strong>General portion</strong><br/>
                                {{ totals.generalTotal|money_format }}
                            </p>
                            <p>
                                <strong>Usage portion</strong><br/>
                                {{ totals.usageTotal|money_format }}
                            </p>
                        </columns>
                    </row>
                    <row>
                        <columns large="12">
                            <p style="text-align: center">
                                <strong>Your part</strong><br/>
                                {{ amount|money_format }}
                            </p>
                        </columns>
                    </row>
                </callout>

                <h4>Details</h4>

                <table>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Notes</th>
                    </tr>
                    {% for line in bill.lines %}
                        <tr>
                            <th>{{ line.name }}</th>
                            <td>{{ line.amount|money_format }}</td>
                            <td>
                                {%- set flags = [] -%}
                                {%- if not line.split -%}{%- set flags = flags|merge(['Not split']) -%}{%- endif -%}
                                {%- if line.taxRate -%}{%- set flags = flags|merge(['Taxed at %g%%'|format(line.taxRate * 100)]) -%}{%- endif -%}
                                {{ flags|join(', ') }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <td colspan="2">{{ totals.total|money_format }}</td>
                    </tr>
                </table>
                <hr/>

                <p>Please send money to {{ bill.user.email }} using your favorite payment method.</p>
            </columns>
        </row>
    </container>
{% endblock %}
