{% extends 'base.html.twig' %}

{% block title %}Split - {{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }}){% endblock %}

{% block body %}
    <h1>Split <small>{{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }})</small></h1>
    <hr>

    <div class="alert alert-info">
        Drag people from the left into the calendar. Drag the edges of their entry in the calendar to adjust their
        portion of the split.
    </div>

    <div class="d-flex flex-row">
        <div>
            {# User sidebar #}
            <ul id="pyb-bill-notify-users-list" class="pyb-bill-notify-users-list">
                {% for user in users %}
                    {%- set eventColor = cycle([
                        'blue',
                        'pink',
                        'yellow',
                        'cyan',
                        'indigo',
                        'red',
                        'green',
                        'purple',
                        'orange',
                        'teal'
                    ], loop.index0) -%}
                    <li data-event="{{ {
                        'title': user.email,
                        'allDay': true,
                        'duration': {'months': 1},
                        'classNames': ['bg-'~eventColor, 'border-'~eventColor],
                        'extendedProps': {'userId': user.id}
                    }|json_encode|e('html_attr') }}"
                        class="bg-{{ eventColor }}"
                    >{{ user.email }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="ml-3">
            {# Calendar #}
            <div id="pyb-bill-notify-calendar-container" class="pyb-bill-notify-calendar-container"></div>
        </div>
    </div>

    {% form_theme form _self %}
    {{ form(form, {'attr': {'id': 'pyb-bill-notify-form'}}) }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bill_notify') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bill_notify') }}
{% endblock %}

{% block _notify_form_periods_row %}
    <div style="width: 0; height: 0">{{ form(form) }}</div>
{% endblock %}
