{% extends 'base.html.twig' %}

{% block title %}Split - {{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }}){% endblock %}

{% block body %}
    <h1>Split <small>{{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }})</small></h1>
    <hr>

    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>General</th>
            <th>Usage</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for splitPart in split %}
            <tr>
                <th>{{ splitPart.user.email }}</th>
                <td>{{ splitPart.general|money_format }}</td>
                <td>{{ splitPart.usage|money_format }}</td>
                <td>{{ splitPart.total|money_format }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
