{% extends 'base.html.twig' %}

{% block title %}Upload Bill{% endblock %}

{% block body %}
    <h1>Upload Bill</h1>
    <hr>

    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bill_upload') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bill_upload') }}
{% endblock %}
