{% extends 'base.html.twig' %}

{% block title %}Bill - {{ bill.vendor.name }} ({{ bill.date.toFormattedDateString }}){% endblock %}

{% block body %}
    {% use 'bill/common.html.twig' %}
    <h1>{{ bill.vendor.name }} <small>({{ bill.date.toFormattedDateString }})</small></h1>

    {# Actions #}
    <div class="btn-group">
        {% if is_granted(constant('App\\Security\\Voter\\VoterAttributes::EDIT'), bill) %}
            <a href="{{ path('bill_edit', {'billSlug': bill.slug, 'return': path('bill_view', {'billSlug': bill.slug})}) }}"
               class="btn btn-secondary">
                <i class="fas fa-edit"></i> Edit
            </a>
        {% endif %}
        {% if is_granted(constant('App\\Security\\Voter\\VoterAttributes::DELETE'), bill) %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#pyb-bill-delete"
                    data-bill-vendor="{{ bill.vendor.name }}" data-bill-date="{{ bill.date.toFormattedDateString }}"
                    data-bill-delete-href="{{ path('bill_delete', {'billSlug': bill.slug}) }}">
                <i class="fas fa-trash"></i> Delete
            </button>
        {% endif %}
        {% if not problems and is_granted(constant('App\\Security\\Voter\\VoterAttributes::VIEW'), bill) %}
            <a class="btn btn-info"
               href="{{ path('bill_split', {'billSlug': bill.slug, 'return': path('bill_view', {'billSlug': bill.slug})}) }}">
                <i class="fas fa-search-dollar"></i> Split
            </a>
        {% endif %}
    </div>
    <hr>

    {# Data #}
    <table class="pyb-infolist">
        <tr>
            <th>Contact</th>
            <td>
                <a href="mailto:{{ bill.user.email }}?subject={{ '%s (%s)'|format(bill.vendor.name, bill.date.toFormattedDateString)|e('url') }}">
                    {{ bill.user.email }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Vendor</th>
            <td>{{ bill.vendor.name }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ bill.date.toFormattedDateString }} ({{ bill.date.longRelativeToNowDiffForHumans }})</td>
        </tr>
        <tr>
            <th>Due</th>
            <td>{{ bill.dateDue.toFormattedDateString }} ({{ bill.dateDue.longRelativeToNowDiffForHumans }})</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ bill.totalAmount|money_format }}</td>
        </tr>
    </table>

    {# Problems #}
    {% if problems %}
        <h2>Problems</h2>
        <div class="alert alert-warning">
            <p>Split is not available because the following problems exist:</p>
            <ul>
                {% for problem in problems %}
                    <li>{{ problem }}</li>
                {% endfor %}
            </ul>
            <p>Correct these problems first.</p>
        </div>
    {% endif %}

    <h2>Details</h2>
    <table class="table pyb-bill-view-lines">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for line in bill.lines %}
            <tr>
                <th>{{ line.name }}</th>
                <td>{{ line.amount|money_format }}</td>
                <td>
                    {%- set flags = [] -%}
                    {%- if not line.split -%}{%- set flags = flags|merge(['Not split']) -%}{%- endif -%}
                    {%- if line.taxRate -%}{%- set flags = flags|merge(['Taxed at %g%%'|format(line.taxRate * 100)]) -%}{%- endif -%}
                    {{ flags|join(', ') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Total</th>
            <td colspan="2">{{ lineSum|money_format }}</td>
        </tr>
        </tfoot>
    </table>

    {{ block('modal_delete') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bill_view') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bill_view') }}
{% endblock %}
