@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// Variable overrides
@import "~bootstrap/scss/bootstrap";

// Make switches appear the sameish size as input boxes
//.custom-switch .custom-control-label {
//    $custom-switch-height: $input-height;
//
//    &::before {
//        height: $custom-switch-height;
//    }
//
//    &::after {
//        height: calc(#{$custom-switch-height} - 4px);
//    }
//}

.table {
    tfoot {
        & th, & td {
            vertical-align: top;
            border-top: (2 * $table-border-width) solid $table-border-color;
        }
    }
}

// Make non-theme colors available as classes
@each $color, $value in $colors {
    @include bg-variant(".bg-#{$color}", $value);
}
@each $color, $value in $colors {
    .border-#{$color} {
        border-color: $value !important;
    }
}
