[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: calc(#{$navbar-height} + 1rem); /* Space for fixed navbar */
    }
}
