@mixin sorting-icon($icon) {
    &::after {
        @extend %fa-icon;
        @extend .fas;

        padding-left: map-get($spacers, 1);
        vertical-align: text-bottom;
        content: fa-content($icon);
    }
}

table.data-table {
    th {
        white-space: nowrap;

        &.sorting {
            & {
                @include sorting-icon($fa-var-sort);
            }

            &_asc {
                @include sorting-icon($fa-var-sort-down);
            }

            &_desc {
                @include sorting-icon($fa-var-sort-up);
            }
        }
    }

    .dataTables_processing {
        &::before {
            @extend %fa-icon;
            @extend .fas;
            @extend .fa-spin;

            padding: map-get($spacers, 1);
            content: fa-content($fa-var-circle-notch);
        }
    }

    tr.dtrg-group {
        td, th {
            font-weight: bold;
            text-align: center;
        }
    }
}