.pyb-infolist {
    @extend .table;
    @extend .table-sm;
    @extend .table-borderless;

    width: auto;

    th {
        white-space: nowrap;

        &::after {
            content: ":";
        }
    }

    // Nested infolist need help to not create extra space everywhere.
    td .pkt-infolist {
        margin: 0;
        padding: 0;

        th {
            padding-left: 0;
        }

        tr:first-of-type {
            th, td {
                padding-top: 0;
            }
        }

        tr:last-of-type {
            th, td {
                padding-bottom: 0;
            }
        }
    }
}
