@import "app";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/bootstrap/main.css";

.pyb-bill-notify-users-list {
    @extend .list-group;

    width: auto;

    & > li {
        @extend .list-group-item;
        cursor: grab;
    }
}

.pyb-bill-notify-calendar-container {
    .fc-event-delete {
        margin-left: $spacer/4;
    }
}
