@import "app";

.pyb-bill-edit-lines {
    width: auto;

    .pyb-bill-edit-line {
        @extend .mb-2;

        .pyb-bill-edit-description input {
            @extend .text-muted;
        }

        .pyb-bill-edit-tax input {
            max-width: 5rem;
        }
    }
}
