<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body data-stretchy-filter=".stretchy-stretch">
{% block contents %}
    {{ include('_parts/_navbar.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            {{ include('_parts/_sidebar.html.twig') }}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
